<!--include by post.html-->
<div class="container">
       {% for c in comments %}
    	<div class="list-group col-md-4 ">
  			<a href="#" class="list-group-item active">
    			<h4 class="list-group-item-heading">{{ c.user_name }}</h4>
    		<p class="list-group-item-text">posted on {{c.created.strftime("%b %d, %Y")}}</p>
  			</a>
  			<p>{{ c.comment| safe }}</p>
        <br>
        <a href="#">
            <button class="btn btn-danger pull-right" type="button">
            Delete <span class="badge">&#x2717;</span>
            </button>
        </a>
        <a href="#">
            <button class="btn btn-info pull-right" type="button">
            Edit <span class="badge">&#x270D;</span>
            </button>
        </a>
		</div>
         {% endfor %}
</div>

