<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
  <title>MultiUser Blog</title>
</head>

<body>
    <div class="container-fluid">

    <div class="login-area">
        {% if user %}
            {{user.name}} (<a class="login-link" href="/logout">logout</a>)
        {% else %}
        <a class="login-link" href="/login">login</a>
         |
        <a class="login-link" href="/signup">signup</a>
        {% endif %}
    </div>

      {% block content %}
      {% endblock %}
  </div>
  {% include 'footer.html'%}

</body>

</html>

