	    <div class="container">
            <div class="row text-center footer">
                <a href="#" target="_blank">
                    <img src="/static/img/twitter.svg" alt="twitter">
                </a>
                <a href="#" target="_blank">
                    <img src="/static/img/facebook.svg" alt="google+">
                </a>
                <a href="#" target="_blank">
                    <img src="/static/img/youtube.svg" alt="linkedIn">
                </a>
            </div>
		    <p class="text-center">All Rights Reserved © 2017
			    <br>Design by
			    <a href="/" target=_new>Joel</a>
		    </p>
	    </div>