<nav class="navbar navbar-default" role = "navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">Muti User Blog</a>
			<!--.navbar-brand for project name-->
		</div>
		<div class="collapse navbar-collapse" id ="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
      			{% if not user %}
      				<li><a href="/signup">Signup</a></li>
                    <li><a href="/login">Login</a></li>

                {% else %}

                    <p class="navbar-text">Welcome! {{user.name}}</p>
    				<a href="/logout">
                        <button type="button" class="btn btn-default navbar-btn">Log Out</button>
                    </a>

    			{% endif %}
    		</ul>
		</div>
	</div>
</nav>

