<nav class="navbar navbar-default" role = "navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">Muti User Blog</a>
			<!--.navbar-brand for project name-->
		</div>
		<div class="collapse navbar-collapse" id ="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
      			{% if not user %}
      				<a href="/signup">
                        <button type="button" class="btn btn-success navbar-btn">Signup</button>
                    </a>
                    <a href="/login">
                        <button type="button" class="btn btn-warning navbar-btn">Login</button>
                    </a>

                {% else %}

                    <p class="navbar-text">Welcome! {{user.name}}</p>
    				<a href="/logout">
                        <button type="button" class="btn btn-default navbar-btn">Log Out</button>
                    </a>

    			{% endif %}
    		</ul>
		</div>
	</div>
</nav>

