
	<main>
        <div class="row">
            <div class="col-md-12">{{ p }}</div>
        </div>
        <article class="col-md-12 text-center">
            <div class="jumbotron">
  			   <div class="post-heading">
                    <div class="col-md-12">
                        <h4 class="text-center"> p.author : {{p.author}} ; p.user.id : {{p.user_id}}, posted on {{p.created.strftime("%b %d, %Y")}}</h4>
                        </div>
    			     <div class="post-title">
    				    <h3><a href="/{{p.key.id()}}">{{ p.subject | safe }}</a></h3>
    			     </div>
    			     <div class="post-content">
    				    <p>{{ p._render_text | safe }}</p>

                        <a href="/{{p.key.id()}}/like">
                            <button class="btn btn-info">Like</button>  +{{p.likes}}
                        </a>

                        <a href="/{{p.key.id()}}/edit">
                            <button class="btn btn-default">Edit</button>
                        </a>
    			     </div>
                     {{error}}
    		    <br><br>
            </article>
        </div>
    </main>





