{% extends "base.html" %}

{% block content %}

	<main>
        <div class="row">
        {% for p in posts %}
        <div class="col-md-12">{{ p }}</div>
            <div class="col-md-12">
                <h5 class="text-center">post.user.id : {{p.user_id}}, posted on {{p.created.strftime("%b %d, %Y")}}</h5>
            </div>
        </div>
        <article class="col-md-12 text-center">
            <div class="jumbotron">
  			   <div class="post-heading">
    			     <div class="post-title">
    				    <h3><a href="/blog/{{p.key.id()}}">{{ p.subject | safe }}</a></h3>
    			     </div>
    			     <div class="post-content">
    				    <p>{{ p.content | safe }}</p>
                            <a href="/blog/{{p.key.id()}}/edit">
                                <button class="btn btn-default">Edit</button>
                            </a>
                            <a href="#">
                                <button class="btn btn-default">Delete</button>
                            </a>
    			     </div>
    		    <br><br>
            </article>
        </div>
    </main>


{% endfor %}

{% endblock %}





