{% extends "base.html" %}

{% block content %}
{% for p in posts %}
	<main>
        {{ p }}
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center">{{p.author.name}} posted on {{p.created.strftime("%b %d, %Y")}}</h5>
            </div>
        </div>
        <article class="text-center">
        <div class="post">
  			<div class="post-heading">
    			<div class="post-title">
    				<h3><a href="/blog/{{p.key.id()}}">{{ p.subject }}</a></h3>
    			</div>
    			<div class="post-content">
    				<p>{{ p.content | safe }}</p>
    			</div>
    		<br><br>
        </article>
    </main>


{% endfor %}

{% endblock %}





