{% extends "base.html" %}

{% block content %}

    <form method="post">
            <label>
                <h1>Subject</h1>
                <input class="form-control" type="text" name="subject" value="{{subject}}">
            </label>
            <br>
            <label>
                <h3>Content</h3>
                <textarea class="form-control" name="content">{{content}}</textarea>
            </label>

            <div class="error">{{error}}</div>
            <input type="submit" class="btn btn-success" >
    </form>
{% endblock %}



