{% extends "base.html" %}

{% block content %}

	<main>
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center">{{post.author}}  posted on {{post.created.strftime("%b %d, %Y")}}</h5>
            </div>
        </div>
        <article class="col-md-12 text-center">
            <div class="jumbotron">
  			   <div class="post-heading">
    			     <div class="post-title">
    				    <h3><a href="/{{post.key.id()}}">{{ post.subject | safe }}</a></h3>
    			     </div>
    			     <div class="post-content">
    				    <p>{{ post.content| safe }}</p>
                        <br>
    				    <a href="/">
                            <button class="btn btn-primary btn-sm" type="button">
                            Back <span class="badge">&#x21A9;</span>
                            </button>
                        </a>
                        <a href="/{{post.key.id()}}/edit">
                            <button class="btn btn-info" type="button">
                            Edit <span class="badge">&#x270D;</span>
                            </button>
                        </a>
                        <a href="/{{post.key.id()}}/comment/{{post.user_id}}">
                            <button class="btn btn-default" type="button">
                            Comment <span class="badge">&#x2710;</span>
                            </button>
                        </a>
                        <a href="/{{post.key.id()}}/delete">
                            <button class="btn btn-danger btn-sm" type="button">
                            Delete <span class="badge">&#x2717;</span>
                            </button>
                        </a>
    			     </div>
                     {{ error }}
            </article>
        </div>
             {% include 'after_comment.html'%}
    </main>

{% endblock %}